.block {
    background-color: purple;
    width: 200px;
    height: 200px;
    padding: 20px;
    border:20px solid blue;
    box-sizing: border-box;
}

.static {
    position: static;
    border: 3px solid green;
    top: 400px;
    left: 50px;
}

.relative {
    position: relative;
    border: 3px solid green;
    top: 400px;
    left: 50px;
    width:400px;
    height: 500px;
}

.fixed {
    position: fixed;
    border: 3px solid red;
    top: 150px;
    left: 50px;
}

.absolute {
    position: fixed;
    border: 3px solid red;
    top: 80px;
    left: 50px;
    width: 200;
    height: 100px;
}
