<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template::head">
</head>
<body>
    <header th:replace="plantilla/template::header">
    </header>
    <main class="main-container">
        <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>FOUND BLOG</h2>
                <h5>My first entry, May 7, 2022</h5>
                <img src="images/blog.jpg" alt="Blog Image" width="600" height="450">
                <p>Hey guys, this is my first entry on this blog. I wanted to tell everyone who is seeing this to be free to post anything<br>
                    you want to this page.<br>
                </p>
            </div>
            <div class="card">
                <h2>BIRTHDAY</h2>
                <h5>My birthday celebration, May 29, 2022</h5>
                <img src="images/blog1.jpg" alt="Blog Image" width="600" height="400">
                <p>Today was my birthday. I really enjoyed having a delicious breakfast with my whole family and I also enjoyed the picnic<br>
                    we had afterwards. In the afternoon I went to have lunch with my girlfriend, who I really love, and we ate at my favorite<br>
                    restaurant. At night I invited my friends over at my condo and reserved the party salon it has. We had a really nice event<br>
                    and afterwards we went back to my apartment and had something to drink and had a great night.
                </p>
            </div>
            <div>
                <a href="#" th:text="#{contents.crear}"></a>
            </div>
        </div>
        </div>
    </main>
    <footer th:replace="plantilla/template::footer">
    </footer>
</body>
</html>